@import variables

html
body
    margin 0
    padding 0
    width document-height
    height document-height

#game
    width game-height
    height game-height
    background game-background

    .square
        background square-background
        border: square-border-width solid game-background