@import variables

html
body
    margin 0
    padding 0
    width document-width
    height document-height

#game
    display: none;
    width game-width
    height game-height
    background game-background

    .square
        background square-background
        border square-border-width solid game-background