document-width = 100%
document-height = 100%

game-width = 100%
game-height = 100%
game-background = #000

square-background = #fff
square-border-width = 1px

figure-width = 100%
figure-height = 100%
figure-background-first = #f00
figure-background-second = #0f0